{% extends 'base.html' %}

{% block content %}
{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% else %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<h1>This is where user pick recipes</h1>
<br/>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Search for recipes</h1>
            <br/>
            <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.search_text(class="form-control") }}
            <br/>
            {{ form.search_submit(class="btn btn-primary") }}
            <br/> <br/>
            {% if form.recipes %}
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Ingredients</th>
                  <th scope="col">Add</th>
                </tr>
              </thead>
              <tbody>
                {% for r in form.recipes %}
                    <tr>
                        <td>{{ r.id }}</td>
                        <td>{{ r.name }}</td>
                        <td>{{ r.ingredients }}</td>
                        <td>
                            <button type="submit" class="btn btn-secondary" name="add_recipe" value="{{ r.id }}">Add</button>
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
            <br/>
            <a class="btn btn-primary" href="{{ url_for('show_metrics') }}" role="button">
                Compute recommendations
            </a>
            </form>
        </div>
        <div class="col-sm">
            <h1>User data</h1>
            <br/>
            {% if user_data %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Recipe #</th> <th>Name</th>
                </tr>
                </thead>
                <tbody>
                    {% for r in user_data %}
                    <tr>
                        <td>{{ r[0] }}</td> <td>{{ r[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

