<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel= "stylesheet" type= "text/css" href= "style.css">
</head>
<body>

    {{ pagination.info }}
    {{ pagination.links }}
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for user in recipes %}
          <tr>
            <td>{{ loop.index + pagination.skip }}</td>
            <td>{{ user.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ pagination.links }}

</body>
</html>