<head>
        <link rel= "stylesheet" type= "text/css" href= "style.css">
</head>
<body>
        <div>
                User Recipes
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in rec_list %}
                                <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[0] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[0] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[1] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[1] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[2] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[2] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[3] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[3] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[4] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[4] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[5] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[5] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[6] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[6] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[7] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[7] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[8] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[8] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[9] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[9] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[10] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[10] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[11] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[11] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[12] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[12] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>

        <br/>
        <br/>
        <br/>

        <div>
                {{ sims[13] }}
                <table class="centered thick-border">
                        <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>%</th>
                                <th>Ingredients</th>
                        </tr>
                        {% for item in list_of_top5s[13] %}
                                <tr>
                                        <td>{{ item.recipe_id }}</td>
                                        <td>{{ item.recipe_name }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.ingredients }}</td>
                                </tr>
                        {% endfor %}
                </table>
        </div>
</body>